body {
    text-align: center;
    background-color: #2222FF;
    color: #FFF;
    margin: 0 auto;
}

.main {
    border: 5px solid #FFF;
    border-color: #FFF;
    margin: 30px 30%;
    padding: 30px;
}

h1 {
    font-size: 30px;
}

a {
    color: #FFF;
    text-align: center;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

p {
    text-align: center;
}

.required {
	background-color: #BB1850;
	color: #fff;
	font-size: 90%;
	padding: 2px;
	margin-left: 10px;
}
